.container{
  display:flex;
  gap:40px;
  align-items:flex-start;
  justify-content:flex-start;
  margin: 10px 0 20px;
}

.bucket{
  border:1px solid #333;
  width:200px;
  height:300px;
  overflow-y:auto;
  text-align:center;
  padding: 0 6px 6px;
}
.bucket h3{
  margin:10px 0;
}

.course{
  border:1px solid #666;
  padding:8px 6px;
  margin-bottom:6px;
  cursor:pointer;
  user-select:none;
  text-align:center;
}

.course:nth-child(even){
  background: rgb(221,239,221);
}

.course.selected{
  background: deepskyblue !important;
}

.footer{
  display:flex;
  align-items:center;
  gap:12px;
  margin-top:8px;
  font-size:18px;
}
